USE [Measure]
GO
/****** Object:  Table [dbo].[ExperimentCases]    Script Date: 11/15/2012 18:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExperimentCases](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[args] [ntext] NULL,
	[experiment_id] [int] NOT NULL,
 CONSTRAINT [PK_ExperimentCases] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExperimentRuns]    Script Date: 11/15/2012 18:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExperimentRuns](
	[args] [nvarchar](4000) NULL,
	[start] [datetime] NULL,
	[end] [datetime] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[experiment_case_id] [int] NOT NULL,
 CONSTRAINT [PK__ExperimentRuns__00000000000000DC] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Measurements]    Script Date: 11/15/2012 18:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Measurements](
	[value] [float] NOT NULL,
	[row] [varbinary](256) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[sensor_id] [int] NOT NULL,
	[timestamp] [datetime] NOT NULL,
 CONSTRAINT [PK__Measurements__000000000000010C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SensorClasses]    Script Date: 11/15/2012 18:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SensorClasses](
	[note] [ntext] NULL,
	[SensorName] [nvarchar](256) NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__SensorClasses__0000000000000169] PRIMARY KEY CLUSTERED 
(
	[SensorName] ASC,
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sensors]    Script Date: 11/15/2012 18:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sensors](
	[experiment_run_id] [int] NOT NULL,
	[sensor_class_id] [int] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__Sensors__0000000000000157] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[MeasuresOfExperimentRun]    Script Date: 11/15/2012 18:54:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MeasuresOfExperimentRun]
	-- Add the parameters for the stored procedure here
	@expRunID int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT SensorName, AverageValue
	FROM dbo.MeasuresByRun
	WHERE ExperimentRunID=@expRunID
END
GO
/****** Object:  Table [dbo].[Experiments]    Script Date: 11/15/2012 18:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Experiments](
	[name] [nvarchar](4000) NULL,
	[note] [ntext] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[iter] [int] NULL,
	[argNames] [ntext] NULL,
 CONSTRAINT [PK__Experiments__00000000000000ED] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Environment]    Script Date: 11/15/2012 18:54:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Environment](
	[name] [nvarchar](256) NULL,
	[note] [ntext] NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK__Environment__00000000000000BD] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ExperimentRunList]    Script Date: 11/15/2012 18:54:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ExperimentRunList]
AS
SELECT     dbo.ExperimentCases.experiment_id AS ExperimentID, dbo.Experiments.name, dbo.ExperimentCases.id AS ExperimentCaseID, 
                      dbo.ExperimentRuns.id AS ExperimentRunID, dbo.ExperimentCases.args, dbo.ExperimentRuns.args AS Expr2, dbo.ExperimentRuns.start, 
                      dbo.ExperimentRuns.[end]
FROM         dbo.ExperimentCases INNER JOIN
                      dbo.ExperimentRuns ON dbo.ExperimentCases.id = dbo.ExperimentRuns.experiment_case_id INNER JOIN
                      dbo.Experiments ON dbo.ExperimentCases.experiment_id = dbo.Experiments.id
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Experiments"
            Begin Extent = 
               Top = 104
               Left = 43
               Bottom = 223
               Right = 203
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ExperimentRuns"
            Begin Extent = 
               Top = 105
               Left = 618
               Bottom = 253
               Right = 827
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ExperimentCases"
            Begin Extent = 
               Top = 69
               Left = 291
               Bottom = 214
               Right = 475
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ExperimentRunList'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'ExperimentRunList'
GO
/****** Object:  View [dbo].[Measures]    Script Date: 11/15/2012 18:54:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Measures]
AS
SELECT     dbo.SensorClasses.SensorName, AVG(dbo.Measurements.value) AS AverageValue, dbo.Experiments.id AS ExperimentID, 
                      dbo.ExperimentCases.id AS ExperimentCaseID
FROM         dbo.Measurements INNER JOIN
                      dbo.Sensors ON dbo.Measurements.sensor_id = dbo.Sensors.id INNER JOIN
                      dbo.SensorClasses ON dbo.Sensors.sensor_class_id = dbo.SensorClasses.id INNER JOIN
                      dbo.ExperimentRuns ON dbo.Sensors.experiment_run_id = dbo.ExperimentRuns.id INNER JOIN
                      dbo.ExperimentCases ON dbo.ExperimentRuns.experiment_case_id = dbo.ExperimentCases.id INNER JOIN
                      dbo.Experiments ON dbo.ExperimentCases.experiment_id = dbo.Experiments.id
GROUP BY dbo.SensorClasses.SensorName, dbo.Experiments.id, dbo.ExperimentCases.id
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[48] 4[19] 2[15] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Measurements"
            Begin Extent = 
               Top = 222
               Left = 22
               Bottom = 341
               Right = 182
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "ExperimentRuns"
            Begin Extent = 
               Top = 35
               Left = 481
               Bottom = 180
               Right = 666
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ExperimentCases"
            Begin Extent = 
               Top = 113
               Left = 746
               Bottom = 217
               Right = 906
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Sensors"
            Begin Extent = 
               Top = 133
               Left = 238
               Bottom = 237
               Right = 417
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SensorClasses"
            Begin Extent = 
               Top = 37
               Left = 26
               Bottom = 141
               Right = 186
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Experiments"
            Begin Extent = 
               Top = 191
               Left = 483
               Bottom = 343
               Right = 656
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 15' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Measures'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'00
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Measures'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Measures'
GO
/****** Object:  View [dbo].[MeasuresByCase]    Script Date: 11/15/2012 18:54:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MeasuresByCase]
AS
SELECT     dbo.SensorClasses.SensorName, AVG(dbo.Measurements.value) AS AverageValue, dbo.Experiments.id AS ExperimentID, 
                      dbo.ExperimentCases.id AS ExperimentCaseID, dbo.ExperimentRuns.experiment_case_id AS ExperimentRunID
FROM         dbo.Measurements INNER JOIN
                      dbo.Sensors ON dbo.Measurements.sensor_id = dbo.Sensors.id INNER JOIN
                      dbo.SensorClasses ON dbo.Sensors.sensor_class_id = dbo.SensorClasses.id INNER JOIN
                      dbo.ExperimentRuns ON dbo.Sensors.experiment_run_id = dbo.ExperimentRuns.id INNER JOIN
                      dbo.ExperimentCases ON dbo.ExperimentRuns.experiment_case_id = dbo.ExperimentCases.id INNER JOIN
                      dbo.Experiments ON dbo.ExperimentCases.experiment_id = dbo.Experiments.id
GROUP BY dbo.SensorClasses.SensorName, dbo.Experiments.id, dbo.ExperimentCases.id, dbo.ExperimentRuns.experiment_case_id
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[48] 4[19] 2[15] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Measurements"
            Begin Extent = 
               Top = 222
               Left = 22
               Bottom = 341
               Right = 182
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "ExperimentRuns"
            Begin Extent = 
               Top = 35
               Left = 481
               Bottom = 180
               Right = 666
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ExperimentCases"
            Begin Extent = 
               Top = 113
               Left = 746
               Bottom = 217
               Right = 906
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Sensors"
            Begin Extent = 
               Top = 133
               Left = 238
               Bottom = 237
               Right = 417
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SensorClasses"
            Begin Extent = 
               Top = 37
               Left = 26
               Bottom = 141
               Right = 186
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Experiments"
            Begin Extent = 
               Top = 191
               Left = 483
               Bottom = 343
               Right = 656
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 15' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MeasuresByCase'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'00
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MeasuresByCase'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MeasuresByCase'
GO
/****** Object:  View [dbo].[MeasuresByRun]    Script Date: 11/15/2012 18:54:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[MeasuresByRun]
AS
SELECT     dbo.SensorClasses.SensorName, AVG(dbo.Measurements.value) AS AverageValue, dbo.Experiments.id AS ExperimentID, 
                      dbo.ExperimentCases.id AS ExperimentCaseID, dbo.ExperimentRuns.id AS ExperimentRunID
FROM         dbo.Measurements INNER JOIN
                      dbo.Sensors ON dbo.Measurements.sensor_id = dbo.Sensors.id INNER JOIN
                      dbo.SensorClasses ON dbo.Sensors.sensor_class_id = dbo.SensorClasses.id INNER JOIN
                      dbo.ExperimentRuns ON dbo.Sensors.experiment_run_id = dbo.ExperimentRuns.id INNER JOIN
                      dbo.ExperimentCases ON dbo.ExperimentRuns.experiment_case_id = dbo.ExperimentCases.id INNER JOIN
                      dbo.Experiments ON dbo.ExperimentCases.experiment_id = dbo.Experiments.id
GROUP BY dbo.SensorClasses.SensorName, dbo.Experiments.id, dbo.ExperimentCases.id, dbo.ExperimentRuns.id
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Measurements"
            Begin Extent = 
               Top = 6
               Left = 38
               Bottom = 125
               Right = 214
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Sensors"
            Begin Extent = 
               Top = 6
               Left = 252
               Bottom = 110
               Right = 447
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "SensorClasses"
            Begin Extent = 
               Top = 6
               Left = 485
               Bottom = 110
               Right = 661
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ExperimentRuns"
            Begin Extent = 
               Top = 6
               Left = 699
               Bottom = 125
               Right = 900
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ExperimentCases"
            Begin Extent = 
               Top = 114
               Left = 252
               Bottom = 218
               Right = 428
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Experiments"
            Begin Extent = 
               Top = 114
               Left = 466
               Bottom = 233
               Right = 642
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1500
 ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MeasuresByRun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'        Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
         Width = 1500
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 12
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MeasuresByRun'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'MeasuresByRun'
GO
/****** Object:  StoredProcedure [dbo].[MeasuresOfExperimentCase]    Script Date: 11/15/2012 18:54:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[MeasuresOfExperimentCase] 
	-- Add the parameters for the stored procedure here
	@expCase int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT SensorName, AverageValue
	FROM dbo.MeasuresByCase
	WHERE ExperimentCaseID=@expCase
END
GO
